.content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
    display:flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}