.profile-container {
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-picture-container {
    max-width: 350px; /* Adjust the max width as needed for PC screens */
    margin: 0 auto; /* Center the picture horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Media query for mobile screens */
    @media (max-width: 767px) {
      max-width: 200px; /* Adjust the max width as needed for mobile screens */
    }
  }

.container__bottom {
    justify-content: flex-start
}

.ul-element {
    padding-top: 8px;
    padding-bottom: 8px;
    outline: 1px solid rgb(219, 219, 219);
    font-size: 18px;
  }

.name-container {
    margin-top: 12px;
    padding-top: 8px;
    font-size: 18px;
}